<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="informationPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
    <class>hu.sztaki.lpds.information.data.GuseServiceBean</class>
    <class>hu.sztaki.lpds.information.data.GuseServiceCommunicationBean</class>
    <class>hu.sztaki.lpds.information.data.GuseServiceTypeBean</class>
    <class>hu.sztaki.lpds.information.data.ServiceUserBean</class>
    <class>hu.sztaki.lpds.information.data.ServiceResourceBean</class>
    <class>hu.sztaki.lpds.information.data.OptionBean</class>
    <class>hu.sztaki.lpds.information.data.GroupPropertyBean</class>
    <class>hu.sztaki.lpds.information.data.GroupsTypeBean</class>
    <class>hu.sztaki.lpds.information.data.ResourceBean</class>
    <class>hu.sztaki.lpds.information.data.ServicePropertyBean</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
        <property name="openjpa.ConnectionFactoryProperties" value="MaxActive=50, MaxIdle=10, ValidationTimeout=50000, MaxCachedStatements=100, ValidationSQL=''"/>
      <property name="openjpa.ConnectionDriverName" value="com.mysql.jdbc.Driver"/>
      <property name="openjpa.jdbc.SynchronizeMappings" value="buildSchema(ForeignKeys=true)"/>
      <property name="openjpa.ConnectionPassword" value="gUSE:pass-123"/>
      <property name="openjpa.ConnectionUserName" value="guseuser"/>
      <property name="openjpa.ConnectionURL" value="jdbc:mysql://localhost:3306/gusedb"/>
    </properties>
  </persistence-unit>
</persistence>
