<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
	<servlet-name>InitServices</servlet-name>
        <servlet-class>hu.sztaki.lpds.information.local.InitAxisServices</servlet-class>
	<init-param>
    	    <param-name>baseurl</param-name>
    	    <param-value>http://localhost:8080/storage/servlet/AxisServlet</param-value>
	</init-param>
	<init-param>
    	    <param-name>install-1</param-name>
    	    <param-value>webapps/storage/WEB-INF/lib/portal.wsdd</param-value>
	</init-param>
	<init-param>
    	    <param-name>install-2</param-name>
    	    <param-value>webapps/storage/WEB-INF/lib/wfi.wsdd</param-value>
	</init-param>
	<init-param>
    	    <param-name>install-3</param-name>
    	    <param-value>webapps/storage/WEB-INF/lib/submitter.wsdd</param-value>
	</init-param>
    <init-param>
    	    <param-name>run-0</param-name>
    	    <param-value>hu.sztaki.lpds.information.local.PropertyInitCommandImpl</param-value>
	</init-param>
    </servlet>

    <servlet>
        <servlet-name>FileHandlerServlet</servlet-name>
        <servlet-class>hu.sztaki.lpds.storage.net.bes.FileHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>hu.sztaki.lpds.storage.net.bes.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemInformationService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>InitServices</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>


    <servlet>
         <servlet-name>ViewerServlet</servlet-name>
         <servlet-class>hu.sztaki.lpds.storage.service.carmen.server.viewer.ViewerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewerServlet</servlet-name>
        <url-pattern>/viewer</url-pattern>
	<load-on-startup>10</load-on-startup>
    </servlet-mapping>

    <servlet>
         <servlet-name>UploadServlet</servlet-name>
         <servlet-class>hu.sztaki.lpds.storage.service.carmen.server.upload.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
	<load-on-startup>10</load-on-startup>
    </servlet-mapping>

    <servlet>
         <servlet-name>FileReceiverServlet</servlet-name>
         <servlet-class>hu.sztaki.lpds.storage.service.carmen.server.receiver.FileReceiverServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileReceiverServlet</servlet-name>
        <url-pattern>/receiver</url-pattern>
	<load-on-startup>10</load-on-startup>
    </servlet-mapping>

    <servlet>
         <servlet-name>FileDownloadServlet</servlet-name>
         <servlet-class>hu.sztaki.lpds.storage.service.carmen.server.download.DownloadWorkflowServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileDownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
	<load-on-startup>10</load-on-startup>
    </servlet-mapping>


  <display-name>gUSE Storage</display-name>

    <listener>
        <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
    </listener>

  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AxisServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AdminServlet
    </servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>SOAPMonitorService</servlet-name>
    <display-name>SOAPMonitorService</display-name>
    <servlet-class>
        org.apache.axis.monitor.SOAPMonitorService
    </servlet-class>
    <init-param>
      <param-name>SOAPMonitorPort</param-name>
      <param-value>5001</param-value>
    </init-param>
    <load-on-startup>100</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SOAPMonitorService</servlet-name>
    <url-pattern>/SOAPMonitor</url-pattern>
  </servlet-mapping>

 <!-- uncomment this if you want the admin servlet -->
 <!--
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
 -->

    <servlet-mapping>
        <servlet-name>FileHandlerServlet</servlet-name>
        <url-pattern>/getFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemInformationService</servlet-name>
        <url-pattern>/SystemInformationService</url-pattern>
    </servlet-mapping>
    <session-config>
        <!-- Default to 5 minute session timeouts -->
        <session-timeout>10</session-timeout>
    </session-config>

    <!-- currently the W3C havent settled on a media type for WSDL;
    http://www.w3.org/TR/2003/WD-wsdl12-20030303/#ietf-draft
    for now we go with the basic 'it's XML' response -->
  <mime-mapping>
    <extension>wsdl</extension>
     <mime-type>text/xml</mime-type>
  </mime-mapping>


  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <welcome-file-list id="WelcomeFileList">
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jws</welcome-file>
  </welcome-file-list>
    </web-app>
