<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>startStatAggregator</servlet-name>
        <servlet-class>hu.sztaki.lpds.statistics.db.startStatAggregator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>startStatAggregator</servlet-name>
        <url-pattern>/startStatAggregator</url-pattern>
    </servlet-mapping>

     <servlet>
	<servlet-name>InitServices</servlet-name>
        <servlet-class>hu.sztaki.lpds.information.local.InitAxisServices</servlet-class>
	<init-param>
    	    <param-name>baseurl</param-name>
    	    <param-value>http://localhost:8080/stataggregator/servlet/AxisServlet</param-value>
	</init-param>

    <init-param>
    	    <param-name>run-0</param-name>
    	    <param-value>hu.sztaki.lpds.information.local.PropertyInitCommandImpl</param-value>
	</init-param>
    </servlet>


    <servlet-mapping>
        <servlet-name>InitServices</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>


<listener>
        <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
    </listener>

  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AxisServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AdminServlet
    </servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>SOAPMonitorService</servlet-name>
    <display-name>SOAPMonitorService</display-name>
    <servlet-class>
        org.apache.axis.monitor.SOAPMonitorService
    </servlet-class>
    <init-param>
      <param-name>SOAPMonitorPort</param-name>
      <param-value>5001</param-value>
    </init-param>
    <load-on-startup>100</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SOAPMonitorService</servlet-name>
    <url-pattern>/SOAPMonitor</url-pattern>
  </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
