<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>gUSE Information</display-name>

    <servlet>
	<servlet-name>InitServices</servlet-name>
	<servlet-class>hu.sztaki.lpds.information.local.InitAxisServices</servlet-class>
	<init-param>
	    <param-name>baseurl</param-name>
	    <param-value>http://localhost:8080/information/servlet/AxisServlet</param-value>
	</init-param>
	<init-param>
    	    <param-name>install-1</param-name>
    	    <param-value>webapps/information/WEB-INF/lib/UI.wsdd</param-value>
	</init-param>
	<init-param>
    	    <param-name>install-2</param-name>
    	    <param-value>webapps/information/WEB-INF/lib/portal.wsdd</param-value>
	</init-param>
	<init-param>
    	    <param-name>install-3</param-name>
    	    <param-value>webapps/information/WEB-INF/lib/resource.wsdd</param-value>
	</init-param>	<init-param>
    	    <param-name>run-3</param-name>
    	    <param-value>hu.sztaki.lpds.information.service.alice.DataBaseInitCommandImpl</param-value>
	</init-param>
	<init-param>
    	    <param-name>run-4</param-name>
    	    <param-value>hu.sztaki.lpds.information.service.alice.ServicesInitCommandImpl</param-value>
	</init-param>
	<init-param>
    	    <param-name>run-0</param-name>
    	    <param-value>hu.sztaki.lpds.information.service.alice.MyPropertiesInitCommandImpl</param-value>
	</init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>InitServices</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
    </listener>

  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AxisServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-class>
        org.apache.axis.transport.http.AdminServlet
    </servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>SOAPMonitorService</servlet-name>
    <display-name>SOAPMonitorService</display-name>
    <servlet-class>
        org.apache.axis.monitor.SOAPMonitorService
    </servlet-class>
    <init-param>
      <param-name>SOAPMonitorPort</param-name>
      <param-value>5001</param-value>
    </init-param>
    <load-on-startup>100</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SOAPMonitorService</servlet-name>
    <url-pattern>/SOAPMonitor</url-pattern>
  </servlet-mapping>

  <mime-mapping>
    <extension>wsdl</extension>
     <mime-type>text/xml</mime-type>
  </mime-mapping>


  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>init.jsp</welcome-file>
        </welcome-file-list>

    <security-constraint>
        <display-name>initservices</display-name>
        <web-resource-collection>
            <web-resource-name>confservlet</web-resource-name>
            <description/>
            <url-pattern>/init.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>manager</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>manager</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>manager</role-name>
    </security-role>

</web-app>
