<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)
</head>

<body class="$css_class mosgridBG">

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div id="wrapper">
	<a href="#main-content" id="skip-to-content">#language("skip-to-content")</a>

	<header id="banner" role="banner">
		<div id="heading">
		        <a class="$logo_css_class" href="$site_default_url" title="#language("go-to") $site_name">
				<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
			</a>
			<div id="banner-login">
				#if(!$is_signed_in && $layoutTypePortlet.getStateMaxPortletId() != "58")
					#set ($locPortletId = "58")
					$velocityPortletPreferences.setValue("portlet-setup-show-borders",
						"false")
					#set($locRenderedPortletContent = $theme.runtime($locPortletId, "", 
						$velocityPortletPreferences.toString()))
					$locRenderedPortletContent
					$velocityPortletPreferences.reset()
				#end
			</div>
                        #if ($show_site_name || 1)
			         
			       <h2 class="site-title">
					<span class="site-name" title="#language("go-to") $site_name">
						$site_name
					</span>
			       </h2>
			#end     
<!-- If we want to link the site name:			
				<a class="logo-link" href="$company_url" title="#language("go-to") $company_name">
					<span>$company_name</span>
				</a>
-->

			<h2 class="community-title">
				<a href="$community_default_url" title="#language("go-to") $community_name">
					<span>$community_name</span>
				</a>
			</h2>

			<h1 class="page-title">
				<span>$the_title</span>
			</h1>
		</div>


		#if(0 && !$is_signed_in)
			<a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">
		<nav class="site-breadcrumbs" id="breadcrumbs">
			<h1>
				<span>#language("breadcrumbs")</span>
			</h1>

			#breadcrumbs()
		</nav>

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>


        <footer id="footer" role="contentinfo">
                <p class="powered-by">
                </p>
                <p class="powered-by">
                        #language("powered-by") <a href="$guseurl" rel="external">$gusename <img src="$images_folder/$guselogo" alt="" /></a>
                        <span class="supported-by">#language("Supported By") <a href="$bmbfurl" rel="external"><!-- $bmbfname --><img src="$images_folder/$bmbflogo" alt="$bmbfname" /></a></span>
                </p>
        </footer>

</div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

</html>
