@import url(../reindeer/styles.css);


.toolbar .v-button {
      display: block;
      width: 65px; 
      height: 55px;
      background: transparent;
      border: none;
      text-align: center;
}

.toolbar .v-button-wrap {
	    background: transparent;
	    border: 0;
	    border-right: 0;
	    border-width: 0;
	    border-color: none;
	    -moz-box-shadow: none;
	    -moz-border-radius: 0 0;
	    display: inline;
	    line-height: 0;
	    min-height: 0;
	    padding: 0 0;
}

.toolbar .v-button-wrap, 
.toolbar .v-disabled.v-button,
.toolbar .v-button-wrap,
.toolbar .v-disabled,
.toolbar .v-disabled.v-button,
.toolbar .v-disabled.v-button .v-button-wrap {
      background: transparent;
      border: 0;
      border-right: 0;
      border-width: 0;
      border-color: none;
      -moz-box-shadow: none;      
      -moz-border-radius: 0 0;
      padding: 0 0;
      min-height: 0;   
      background-position: left 0px;   
}


.toolbar .v-button img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
}
.toolbar .v-button span {
      font-size: x-small;
      text-shadow: #fafafa 1px 1px 0;
      font-family: "Lucida Grande", Helvetica, Arial, sans-serif;      
}


.toolbar {
      background: #ccc url(images/gradient.png) repeat-x bottom left;*/
}

.v-panel-caption-view {
      color: #004b98;
}
 
.view {
      background: white;     
}

 
.v-table-row-odd {
      background: #f1f5fa;
}
 
.v-table-row:hover {
      background: #fff;
}
 
.v-table-row-odd:hover {
      background: #f1f5fa;
}
 
.v-table .v-selected {
      background: #3d80df;
}
