form p.error {
  font-weight: bold;
  color: #FF0000;
  display: none;
  background-color: transparent;
}

form textarea.expanding {
  overflow: auto;
  overflow-x: auto;
  overflow-y: visible;
}

input[type="button"] {
  width: auto;
}

input[type="submit"] {
  width: auto;
}

input[type="text"][class~="propertyInput"] {
  width: 60px;					 					   
}

input[type="text"][class~="propertyInput"][disabled=""] {
  background: #999999;
}

input[type="text"][class~="group"] {
  width: 60px;					 					 
}

div[class~="propertyHolder"] {
  width: 100%;
  min-height: 30px;
  padding-bottom: 7px;
}

span[class="propertyHolderLeft"] {
  float: left; 
  width: 300px;
  vertical-align: middle;
  height: auto;
}

span[class="propertyHolderRight"] {
  float: right;
}

span[class="propertyHolderRight"] input[type="text"] {
 margin-top: 0px;
}

div[class="submit"] div {
  padding-top: 20px;
}

div[class="fieldset"] {
  padding-top: 7px;
  padding-bottom: 10px;
}