body {
	background: #FFF;
	font: 75%/1.4 Arial, Helvetica, Verdana, sans-serif;
}
/* ---------- Text formatting ---------- */

.alert-background {
	background: #000;
   color: #fff;
}

.popup-alert-notice {
	background-color: #FFC;
	border-bottom-color: #FC0;
   color: #222;
}

.popup-alert-warning {
	background-color: #FDD;
	border-bottom-color: #F00;
   color: #222;
}

/* ---------- Portal add content ---------- */

.portal-add-content {
	background: #FFF;
	color: #222;
}

/* ---------- Loading animation ---------- */

.loading-animation {
   background-color: #FFF;
   color: #222;
   background: url(../images/progress_bar/loading_animation.gif) no-repeat top center;
}

/* ---------- Text highlighting ---------- */

.highlight {
   background: #FFC;
   color:#222;
}
