dci_bridge_service/web/WEB-INF/dci-bridge.xml
SAML_applet/target/
SAML_applet/unicore.jks
SAML_applet/certificate.jks

information/build
dci_bridge_service/build
storage/build
gemlcaquery_cli/build
dcibridge_cli/build
wfi/build
wfs_cli/build
repository_cli/build
storage_cli/build
statistics/build
gemlcaquery/build
repository/build
logging_cli/build
information_cli/build
wspgrade/build
wfi_cli/build
frontendbase/build
portal_cli/build
wfs/build
statistics/stataggregator/build
statistics/statvisualizer/build

information/dist
dci_bridge_service/dist
storage/dist
gemlcaquery_cli/dist
dcibridge_cli/dist
wfi/dist
wfs_cli/dist
repository_cli/dist
storage_cli/dist
statistics/dist
gemlcaquery/dist
repository/dist
logging_cli/dist
information_cli/dist
wspgrade/dist
wfi_cli/dist
frontendbase/dist
portal_cli/dist
wfs/dist
statistics/stataggregator/dist
statistics/statvisualizer/dist


*~
genfiles.properties

non-git
