#*
This file allows you to override and define new Velocity variables.
*#

#set ($sign_in_text='Sign in or Create Account')

#set ($gusename='gUSE – Grid User Support Environment')
#set ($guseurl='http://guse.sztaki.hu')
#set ($guselogo='logos/logo-guse-circle-80.png')

#set ($bmbfname='Federal Ministry of Education and Research')
#set ($bmbfurl='http://www.bmbf.de/')
#set ($bmbflogo='logos/BMBF_RGB_Gef_S_e.jpg')
